#topic{
      width:100%;
}
#topic ul{
      margin: 0 auto;
      list-style: none;
      margin-bottom: 20px;
}
#topic ul li{
      position: relative;
      display: inline-block;
      width:210px;
      height: 120px;
      line-height: 60px;
      vertical-align: middle;
      padding: 5px;
      text-align: center;
      border: 1px solid #aaa;
      border-radius:4px;
      font-size: 17px;
      background-color: #eee;
      opacity: 0.8;
      cursor: pointer;
      transition:all .2s;
      z-index: 10;
      box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}
#topic ul li:hover{
      z-index: 15;
      opacity: 0.9;
      background-color: #fafafa;
      border:1px solid #999;
}
#topic ul li img{
      position: absolute;
      top:45px;
      left: 85px;
      opacity: 0.6;
      transition:.2s;
}
#topic ul li:hover img{
      opacity: 0.8;
}
.not-highlighted{
      position: absolute;
      top:-1px;
      left: -1px;
      font-size: 14px;
      line-height: 14px;
      padding: 5px;
      width: 210px;
      height: 100%;
      z-index: 20;
      text-align: center;
      border: 1px solid #aaa;
      border-radius:4px;
      background-color: #eee;
      opacity: 0;
      color:#eee;
      transition:all .2s;
}
.highlighted{
      min-height: 120px;
      height: auto;
      color:#000;
      opacity: 1;
      background-color: #fff;
      border: 1px solid #999;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
#topic ul li.lastlist span{
      top:-36px;
}
@media (max-width: 1100px){
      #topic ul li{
            display: block;
            width:90%;
            line-height: 40px;
            height: 40px;
            border-radius: 0px;
            font-size: 20px;
      }  
      #topic ul li:first-child{
            border-radius: 4px 4px 0px 0px;
      }
      #topic ul li:last-child{
            border-radius: 0px 0px 4px 4px;
      }
      #topic ul li span{
            min-height: 20px;
            height: auto;
            padding: 5px 0px;
            width: 100%;
      }
      #topic ul li.lastlist:hover span{
            top:0px;
      }
      #topic ul li img{
            top:2px;
            left:12px;
            width: 45px;
            height: 45px;
      }
}